Assets/Font/*.asset filter=lfs diff=lfs merge=lfs -text
Assets/Fonts/*.asset filter=lfs diff=lfs merge=lfs -text
Assets/Fonts/FusionPixelFont/fusion-pixel-12px-proportional-zh_hant[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
